body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;

  background: linear-gradient(
      to left top,
      rgba(255, 0, 127, 0.3),
      rgba(0, 0, 0, 0.9)
    ),
    #000;

  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  color: white;
}

footer {
  text-align: right;
  color: goldenrod;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

.card {
  width: 45%;
  min-height: 210px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.creative {
  color: goldenrod;
}

.container {
  margin-top: 20px;
}

.card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 12px 32px rgba(41, 41, 41, 0.2),
    0 0 10px rgba(100, 150, 255, 0.1);
}

.card-title,
.card-text {
  color: #fdfdfd;
}

.right > p {
  color: #fdfdfd;
}
@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin: 0 auto 30px auto; /* centraliza horizontalmente */
    text-align: justify;
    float: none; /* <- adicionado */
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
  .left,
  .right {
    float: none; /* <- adicionado */
  }
}
